@use 'vari';

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
    font-size: 15px;

    .main-container{
        display: flex;
        align-self: center;
        background-image: url(../IMAGES/coral-3202725.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 80vw;
        height: 75vh;
        border-radius: 20px;
        box-shadow: 5px 10px 18px #888888;
    }
}

.img-logo-container{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: vari.$primary-background;
    width: 30vw;
    height: 150px;

    .logo-img{
        width: 80px;
        height: 80px;
        align-self: center;
    }
    h1{
        font-family: 'Gruppo', cursive, sans-serif;
        font-size: 45px;
        color: vari.$primary-color;
        align-self: center;
    }
}

.forms-container{
    background-color: vari.$primary-background;
    color: vari.$primary-color;
    width: 50vw;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    .highlight{
        color: vari.$highlight-color;
    }
}

form{
    border: solid vari.$highlight-color;

    .input-containers{
        display: flex;
        justify-content: space-evenly;
        height: 70px;
        border: none;
        padding: 0;
    }
}
fieldset{
    div{
        align-self: center;  
    }
}
input{
    width: 21vw;
}

.log-submit{
    margin-top: 30px;

    button{
        background-color: vari.$highlight-color;
        border: none;
        padding: 15px 32px;
        text-align: center;
        color: vari.$primary-color;
    }
    button:hover{
        background-color: vari.$hov-color;
        transform: scale(1.1);
    }
    a{
        color: vari.$highlight-color;  
    }
    a:hover{
        color: red;
    }
}

.page-end{
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    font-family: 'Gruppo', cursive, sans-serif;
    a:hover{
        color: red;
    }
}

//WIDTH MEDIA QUERIES

@media (max-width: 1280px){
    .img-logo-container{
        h1 {
            font-size: 35px;
        }
        .logo-img {
            width: 50px;
            height: 50px;
        }
    }

    .forms-container{
    padding: 20px;
    }
    form{
        .input-containers{
            height: 65px;
        }
    }
}


@media (max-width: 780px){
    body{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100vw;
        align-content: center;
        justify-content: center;
        border-radius: none;
        text-align: center;
    
        .main-container{
            display: flex;
            align-self: center;
            flex-direction: column;
            background-image: url(/IMAGES/coral-3202725.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: none;
            width: 100vw;
            height: auto;
        }
    }

    .img-logo-container{
        width: 100vw;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    h2{
        font-size: 15px;
    }
    .forms-container{
        align-self: center;
        width: 100vw;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0;
    }
    form{
        .input-containers{
            flex-direction: column;
            height: 80px;
        }
    }
    fieldset{
        div{
            text-align: left; 
        }
    }
    input{
        width: 70vw;
    }

    .page-end{
        position:relative;
        margin-top: 30px;
    }
}

@media (max-height: 700px){
    h2{
        font-size: 12px;
    }
    .log-submit{
        margin-top: 15px;
    }
}
