.main-container{
    display: flex;
    background-image: url(/IMAGES/coral-3202725.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
